.cart-item-con{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0;
   
}

.cart-item-left{
    width: 25%;
    height: 100%;
   
}

.cart-item-middle{
    width: 55%;
    height: 100%;
    color: #fff;
   
}

.cart-item-right{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.item-name{
    font-family: "Aviano", 'Cinzel', serif;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;

}

.item-dim{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.6;
    margin-bottom: 5px;

}

.item-price{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.6;
    margin-bottom: 5px;

}

.middle-btns{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    
}

.cart-qty-con{
    margin-right: 10px;
}

.item-remove-btn{
    font-size: 16px;
    font-family: "Aviano", 'Cinzel', serif;

}

.item-remove-btn:hover{
    cursor: pointer;
    text-decoration: underline;
}

.item-total-price{
    font-family: "Aviano", 'Cinzel', serif;
    font-size: 16px;
    color: #fff;
}



@media (max-width: 840px) and (min-width: 480px){
    .cart-item-con{
        height: 25%;

    }

    .cart-item-left{
        width: 22%;
    }

    .item-name{
        font-size: 16px;
        line-height: 10px;
    }

    .item-dim{
        font-size: 12px;

    }

    .item-remove-btn{
        font-size: 12px;
        
    }

    .item-total-price{
        font-size: 14px;
    }

   
}

@media (max-width: 480px) and (min-width: 0px){
    .cart-item-con{
        
        height: 25%;
    }

    .cart-item-left{
        width: 20%;
    }

    .item-name{
        font-size: 4vw;
        line-height: 10px;
    }

    .item-dim{
        font-size: 3.5vw;

    }

    .item-remove-btn{
        font-size: 3vw;
        
    }

    .item-total-price{
        font-size: 3vw;
    }

   
}