.loader-con{
    width: 100%;
    height: 100%;
    background: #321729;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;

}

.loading-text{
    color: #fae7a1;
    font-size: 2.25em;
    font-weight: 500;
    opacity: .7;
}