.add_item_container{
    display: flex;
    width: 100%;
   
}

.add_item_input{
    width: 100%;
    font-size: 1em;
    background: transparent;
    height: 100%;
}


.add_item_input_btn{
    width: fit-content;
    font-size: 1em;
    padding: 15px;
    background: #1DAE8C;
    outline: none;
    border: none;
    cursor: pointer;

}

.item_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    height: fit-content;
    margin-top: 15px;
    margin-bottom: 50px;
    border: 1px solid red;
    
}

.one-item{
    background: #e0dada;
    width: fit-content;
    height: 30px;
    border-radius: 10px;
    margin: 0 5px 5px 0;
    display: flex;
  
}

.item-name{
    display: block;
    width: fit-content;
    height: 100%;
    padding: 5px 20px;
    color: #000;
    font-size: 0.875em;
    font-weight: 400;
    border-radius:  10px 0px 0px 10px ;
    
}


.item-cancel{
    display: block;
    width: fit-content;
    height: 100%;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    border-left: 1px solid #ada7a7;

}

.item-cancel:hover{
    background: #ada7a7;
}


.item-cancel-icon{
    font-size: 0.875em;
    font-weight: 400;
    opacity: 0.7;
    color: #000;
}



@media (max-width: 640px) and (min-width: 375px){
    .item_list{
        width: 80%;
    }
    

}

@media (max-width: 640px) and (min-width: 520px){
    .one_item{
        font-size: 2.75vw;
    }


}

@media (max-width: 520px) and (min-width: 440px){
    .one_item{
        font-size: 3vw;
    }


}

@media (max-width: 440px) and (min-width: 375px){
    .one_item{
        font-size: 3.5vw;
    }


}

@media (max-width: 375px) and (min-width: 280px){
    
    .item_list{
        width: 100%;
    }

    .one_item{
        font-size: 4.5vw;
    }


}


/* @media (max-width: 520px) and (min-width: 440px){


} */