

.modal-background{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(26, 39, 42, 0.6);
    
}

.modal-container{
    width: 30%;
    height: fit-content;
    z-index: 35;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 6px #1DAE8C;
    padding: 20px 30px;
    font-family: 'Montserrat', sans-serif;

}

.modal_header{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}


.modal_title{
    font-size: 1em;
    font-weight: 600;
    color: #1DAE8C;
}

.modal_return{
    font-size: 0.875em;
    font-weight: 600;
    cursor: pointer;
}





/* form-modal */

.form-modal-container{
    width: 45%;
    height: 60vh;
    height: fit-content;
    z-index: 35;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 6px #1DAE8C;
    padding: 20px 30px;
    font-family: 'Montserrat', sans-serif;
}



/* media queries */

@media (max-width: 1140px) and (min-width: 1000px){
    .form-modal-container{
        width: 50%;
    }
}

@media (max-width: 1000px) and (min-width: 780px){
    .form-modal-container{
        width: 60%;
    }
}

@media (max-width: 780px) and (min-width: 670px){
    .form-modal-container{
        width: 75%;
    }
}
@media (max-width: 670px) and (min-width: 580px){
    .form-modal-container{
        width: 80%;
    }
}
@media (max-width: 580px) and (min-width: 0px){
    .form-modal-container{
        width: 95%;
    }
}