.btn-has-icon{
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    margin-right: 20px;
    display: flex;
    background: #5b5f32;
    color: #fff;
    border-radius: 30px;
    font-size: 0.725em;
    font-weight: 500;
    cursor: pointer;
    fill: #fff;
    transition: all 0.5s ease-in-out;

}

.btn-has-icon:hover{
    background: transparent;
    color: #5b5f32;
    fill: #5b5f32;
    border: 1px solid #5b5f32;
    
}



.btn{
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 0.725em;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 3px 6px #E6C6BD;
    transition: all 0.5s ease-in-out;

}


.active-btn{
    background: #5b5f32;
    color: #fff;

}
.active-btn:hover{
    background: transparent;
    border: 1px solid #5b5f32;
    color: #5b5f32;

}

.inActive-btn{
    background: #fff;
    color: #5b5f32;

}

.inActive-btn:hover{
    color: #5b5f32;
}

.btn-icon{
    width: 12px;
    height: 12px;
    margin-right: 10px;
}



@media (max-width: 600px) and (min-width: 520px){

    .btn-has-icon{        
        font-size: 1.5vw;
    }

    .btn-icon{
        width: 8px;
        height: 8px;
        margin-right: 8px;
    }
   

}

@media (max-width: 520px) and (min-width: 0px){

    .btn-has-icon{  
        margin-right: 10px;
    }

    .btn-icon{
        width: 8px;
        height: 8px;
        margin-right: 8px;
    }

}

@media (max-width: 520px) and (min-width: 440px){

    .btn-has-icon{  
      font-size: 2vw;
    }


}

@media (max-width: 440px) and (min-width: 375px){

    .btn-has-icon{  
        padding: 10px;
        font-size: 2.625vw;
        border-radius: 5px;

    }


}
@media (max-width: 375px) and (min-width: 0px){

    .btn-has-icon{  
        padding: 10px;
        font-size: 2.625vw;
        border-radius: 5px;

    }


}