.slide-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(5, 0, 0, 0.5);
    display: none;
    
}

.account-slide, .cart-slide{
    background: #fff;
    width: 35%;
    height: 100%;
    z-index: 101;
    position: fixed;
    right: -100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   
}

.account-slide{
    padding: 30px;
}

.account-slide-hdr{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: flex-end;
}

.close-icon{
    font-size: 1.5em;
    cursor: pointer;
}


/* search slide */


.search-slide-container{
    width: 100%;
    height: 83vh;
    position: fixed;
    top: 18vh;
    left: 0;
    z-index: 100;
    background: rgba(5, 0, 0, 0.6);
    display: none;
}

.search-slide{
    width: 100%;
    height: 13vh;
    background: rgba(50, 23, 41, 1);
    position: relative;
    top: -30%;
    left: 0;
    border-top: 0.5px solid rgba(255, 255, 255, .5);
    padding: 20px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 101;

}

.search-bar{
    width: 95%;
    height: 100%;   
}

.search-bar input{
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 10px 20px;
    font-size: 1.625em;
    color: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.search-bar input:focus{
    outline: none;
}

.search-icon{
    font-size: 2em;
    color: #fff;
    opacity: .6;
    
}

.search-close-icon{
    font-size: 1.75em;
    color: #fff;
    cursor: pointer;
    margin-left: 30px;
}


/* menu slide */

.mobile-menu-container{
    width: 60%;
    height: 100%;
    background: #2F1326;
    position: fixed;
    top: 0;
    left: -100%;
    font-family: 'Cinzel', serif;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.m-header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-header-right{
    font-size: 1em;
    cursor: pointer;
    
}

.m-header-right:hover{
    opacity: 0.7;
}

.m-nav-body{
    width: 100%;
    height: 80%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.m-nav-body-el a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin-top: 30px;
    text-align: center;
    font-size: 1.5em;
}

.m-nav-body-el a:hover{
    opacity: .7;
}

.m-account-el{
    width: 100%;
    height: 20%;
    display: none;
    font-family: 'Montserrat', sans-serif;

}

.m-account-el a{
    text-decoration: none;
    color: #fff;

}

.m-account-el-links{
    opacity: .6;
    font-size: 0.875em;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;

}



/* media query */


  @media (max-width: 1290px) and (min-width: 1120px){

    .account-slide, .cart-slide{
        
        width: 45%;
        
       
    }



  }

  @media (max-width: 1120px) and (min-width: 960px){

    .account-slide, .cart-slide{
        
        width: 50%;
        
       
    }

  }

  @media (max-width: 960px) and (min-width: 840px){

    .account-slide, .cart-slide{
        
        width: 55%;
        
       
    }

  }

 

  @media (max-width: 840px) and (min-width: 0px){

   
    .mobile-menu-container{
        width: 100%;
    }



  }

  @media (max-width: 840px) and (min-width: 620px){

    .account-slide, .cart-slide{
        
        width: 65%;
        
       
    }

  }

  @media (max-width: 620px) and (min-width: 0px){

    .account-slide, .cart-slide{
        
        width: 100%;
        
       
    }

  } 

  @media (max-width: 375px) and (min-width: 0px){

    .account-slide{
        padding: 15px;
                
       
    }

  } 