.product-page-con{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;

}

.prod-loader{
    width: 100%;
    height: 60vh;
    
}

.bus-prdt-con{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
   
}



/* media query */
/* 
@media (max-width: 768px) and (min-width: 0px){
    
    .bus-prdt-con{       
        justify-content: center;       
    }

   


} */


@media (max-width: 700px) and (min-width: 540px){
    
    .bus-prdt-con{       
        justify-content: center;       
    }

   


}

@media (max-width: 400px) and (min-width: 0px){
    
    .bus-prdt-con{ 
        flex-direction: column;
        flex-wrap: nowrap;

    }

   


}